* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}


#donald {
    font-weight:bold;
    color: brown;
    margin-bottom: 48px;
  padding: 10px;
}

#card {
    border: 2px solid blue;
  border-radius: 10px;

}
.donald {
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}


.donald img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}







